doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Weather Map++
    link(rel='stylesheet', href='./css/app.css')
  body
    #controls
      h1 Weather Map++
      input#zip(type='text', autofocus=true, placeholder='zip code')
      button#add Add Location

    #map

    #graphs


    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDPmOI1JdtKJD9O6SnTuVChF0jSfaVZRp8&sensor=true')
    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/serial.js')
    script(src='http://www.amcharts.com/lib/3/themes/none.js')
    script(src='./js/es6/main.js')
